<div class="absolute md:left-[20px] md:bottom-[20px] bg-transparent">
  <div class="relative">
    <!-- Modal toggle -->

    <!--    <button @click="modalOpen = true" class="relative z-10 block rounded-md bg-white p-2 focus:outline-none">-->
    <button (click)="openModal()"
            class="relative z-10 block rounded-md bg-white p-2 focus:outline-none"
    >
      <fa-icon [icon]="['fas', 'gear']"
               class="'text-slate-600'"
               size="lg"
      ></fa-icon>
    </button>

    <ng-template #modalContent>
      <div class="space-y-6">
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                 for="label"
          >Name der Reise
          </label>
          <input [(ngModel)]="travel!.label"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 id="label"
                 name="label"
                 placeholder="name@company.com"
                 required
                 type="text"
          >
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                 for="maxDrivingTime"
          >Maximale Fahrzeit pro Tag
          </label>
          <input [(ngModel)]="maxDrivingTime"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 id="maxDrivingTime"
                 name="maxDrivingTime"
                 placeholder="name@company.com"
                 required
                 type="time"
          >
        </div>
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                 for="start"
          >Startzeitpunkt
          </label>
          <input [(ngModel)]="startMoment"
                 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                 id="start"
                 name="start"
                 placeholder="name@company.com"
                 required
                 type="datetime-local"
          >
        </div>
      </div>
    </ng-template>
  </div>
</div>
